:root {
  --text: #fefefe;
  --link: #249eec;
  --background: #111;
  --border-bottom: #2c2d2e;

  --link-light: #0070f3;
  --text-light: #000;
  --background-light: #fff;
  --border-bottom-light: #ececec;

  --muted-text: #8d8d92;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px
}

body {
  color: var(--text);
  background-color: var(--background);
}
.organization, .location {
    margin-right: 8px;
    font-size: 16px
}
svg > path {
    fill: var(--text);
    margin: 8px
}

* {
  box-sizing: border-box
}

pre {
    font-size: 90%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    border: 1px solid var(--border-bottom);
    border-radius: 3px;
    padding: 8px
} 

a {
  color: var(--link);
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

img {
  max-width: 100%;
  display: block
}

#navbar {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  background-color: var(--background);
  border-bottom: solid 1px var(--border-bottom);
  margin-bottom: 1rem
}

#navbar a {
  color: var(--text);
  display: block;
  float: right;
  text-align: center;
  padding: .5rem 0;
  margin-right: .5rem;
  text-decoration: none;
  font-size: 1rem
}

footer {
    font-size: 80%;
    position: fixed;
    display: block;
    bottom: 0;
    width: 100%;
    background-color: var(--background);
    border-top: solid 1px var(--border-bottom);
    padding: .5rem;
}
footer {
    text-align: right
}

@media (prefers-color-scheme: light) 
{
  a {
    color: var(--link-light)
  }
	body {
    color: var(--text-light);
    background-color: var(--background-light)
  }
  #navbar {
    background-color: var(--background-light);
    border-bottom: solid 1px var(--border-bottom-light);
  }
  #navbar a {
    color: var(--text-light);
  }
}